{% extends "base.html" %}
{% block content %}

{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EventFinda</title>
        <meta name="description" content="">
        <meta name="author" content="angela moroney">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'eventFinderApp/style.css' %}">
    </head>

    <body>
      
            <div>
                <h1>Thank-you for adding to our events list, we really appreciate it!</h1>
            </div>
           
      

        {% comment %} {% block content %}{% endblock %} {% endcomment %}
    </body>
</html>

{% endblock %}